.header{
    width: 100%;
    height: 5%;
    font-size: 15px;
    box-shadow: 5px 5px 5px yellow;
}

.copy_right_footer{
    position: fixed;
    color: lightslategray;
    bottom: 0;
    width: 100%;
    background-color: lightyellow;
    line-height: 3;
    text-align: center;
    font-family: cursive;
}

#obj{
    font-size: 20px;
    color: yellow;
}
#status{
    font-size: 20px;
    border-color: yellowgreen;
}